* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
    width: 100%;
    height: 400px;
    background-image: url('pictures/bck.jpg');
    background-size: 100% 100%;
}

/* LOGO */
.logo{
    width: 100%;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

.image{
    width: 250px;
    height: 280px;
}

/*Nadvoresno ogranicuvanje*/
.middleConstraints{
    display: block;
    width: 50%;
    margin: auto;
	align-items: center;
    padding-bottom: 20px;
}

button{
    height: 80px;
    color: gold;
    background-color: rgb(23, 23, 23);
    width: 100%;
    border-radius: 20px;
    border: gold 2px solid;
    margin-bottom: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media only screen and (max-width: 776px) {
    .middleConstraints {
      width: 80%;
    }
    .image{
        width: 200px;
        height: 230px;
    }
}

.middleConstraints button{
	padding: 5px 15px;
	font-size: 23px;
	cursor: pointer;
}

.backButton{
    width: 30%;
    height: 60px;
    margin-bottom: 10px;
    margin-top: 2%;
}

.backButton button{
    height: 60px;
    font-size: 16px;
}

/*Proizvodi*/
.product{
    width: 100%;
    color: gold;
    background-color: #141414;
    border-radius: 20px;
    border: gold 2px solid;
	padding: 5px 15px;
	font-size: 18px;
    margin-bottom: 10px;
}

.title{
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 10%;
    font-size: 23px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: gold;
}

.description{
    margin-left: 2%;
    margin-right: 17%;
    margin-bottom: 2%;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(243, 214, 51);
}

.price{
    text-align: right;
    margin-right: 2%;
    margin-bottom: 2%;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: gold;
}
